.App{
  /* height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
}

.TableContainer {
  border-collapse: collapse;
  width: 100%;
}

.TableHeader {
  border-bottom: 1px solid;
  text-align: left;
}

td, th {
  padding: 5px
}

.FormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}

.FormInputContainer{
  display: flex;
  flex-direction: row;
}

.FormInput{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.ButtonContainer{
}


